img {
    height: 200px;
    width: 200px;
    margin-left: 35px;
}

.eventItem {
    font-size:large;
    
    
}

.eventItem{
    background-color:rgb(231, 193, 147);
    padding-left: 100px;
    padding-top: 10px;
   
   
       
}


