.background {
  background-color: hotpink;
  background-image: url("/src/Images/concert.jpeg");
}
/* .spotlight {
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    background: 
        radial-gradient(
            circle,
            white,
            transparent 25%
        ) center / 25% 25%,
        radial-gradient(
            circle,
            white,
            transparent 25%
        ) center / 12.5% 12.5%;
    animation: light 5s linear infinite;
    mix-blend-mode: color-dodge;
} */

.h1 {
  font-size: 80px;
}

button {
  font-size: medium;
  background-color: palevioletred;
  border-radius: 10px;
}

.event {
  font-size: large;
}