.search {
  margin-left: 200px;
}

input {
  width: 250px;
  height: 80px;
  font-size: 20px;
  color: black;
  font-weight: 700;
  border-radius: 100px;
  text-align: center;
  background-color: rgb(240, 213, 140);
  margin-left: 450px;
  border:  5px solid black;
  
}
.button1{
  background-color:blanchedalmond;
  width:100px;
  text-align:center;
  border:5px solid black;
  border-color: black;
  
}
p{
  color:white;
  font-family:cursive;
  font-size: 45px;
  margin-left: 30px;
}


