.search {
  margin-left: 200px;
}

input {
  width: 150px;
  height: 50px;
  font-size: medium;
  color: black;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(240, 213, 140);
  margin-left: 450px;
  border:  5px solid black;
  
}
.button1{
  z-index: 3;
  background-color:blanchedalmond;
  width:100px;
  height: 100px;
  text-align:center;
  border:5px solid black;
  border-color: black;
  
}
p{
  color:white;
  font-family:cursive;
  font-size: 45px;
  margin-left: 30px;
}


